<!-- <add-question (newQuestion)="addPublicQuestion($event)"></add-question> -->
<div class="ui vertical segment">
  <div class="ui secondary menu">
    <div class="item">
      <h1 class="ui header">Public Questions</h1>
    </div>

    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input (keyup)='filterQuestion$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='filter question name...'>
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui grid">
    <div class="five wide column">
      <div class="ui vertical menu">
        <a (click)="showGroupModal()" class="active teal item">
          Create groep
        </a>
        <div class="item">
          <h4 class="ui header">Groups</h4>
        </div>
        <div *ngFor="let groupname of groups">
          <a href="homepage/group/{{groupname.groupName}}" class="item">
            {{groupname.groupName}}
          </a>
        </div>

        <div class="item">
          <h4 class="ui header">Joined Groups</h4>
        </div>
        <div *ngFor="let groupname of user.joinedGroups">
          <a href="homepage/group/{{groupname}}" class="item">
            {{groupname}}
          </a>

        </div>
        <!-- <div class="item">
              <div class="ui transparent icon input">
                <input type="text" placeholder="Search mail...">
                <i class="search icon"></i>
              </div>
            </div> -->
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui feed">
        <question class="event ui" *ngFor="let question of questions | questionFilter: filterQuestionName" [question]="question"
          (rmQuestion)="removeQuestion($event)"></question>
      </div>
    </div>

  </div>

</div>


<div class="ui small modal group">
  <i class="close icon"></i>
  <div class="header">
    Create a group
  </div>
  <div class="content">
    <form class="ui form" [formGroup]="group" (ngSubmit)="onSubmitCreate()">
      <div class="field">
        <label for="name">Group name</label>
        <input name="name" id="" formControlName='group_name' />
        <div class='ui pointing red basic label' *ngIf='group.get("group_name").errors?.required && group.get("group_name").touched'>
          a groupname is required
        </div>
        <div class='ui pointing red basic label' *ngIf='group.get("group_name").errors?.minlength && group.get("group_name").touched'>
          the groupname should be at least {{group.get("group_name").errors?.minlength.requiredLength }} letters
        </div>
        <div class='ui pointing red basic label' *ngIf='group.get("group_name").errors?.groupAlreadyExists && group.get("group_name").touched'>
          a group with that name already exists
        </div>
      </div>
      <!-- <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" formControlName="private" class="">
          <label class="center-block">
            private group
          </label>
        </div>
      </div> -->
      <div class="actions">
        <div class="ui ok button">Cancel</div>
        <button type="submit" [disabled]="!group.valid" class="ui positive ok button">Create</button>
      </div>
    </form>
  </div>

</div>