<div class="ui container">
    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
  <h1 class="ui header center aligned">
    Welcome to StudyBuddy!
  </h1>
  <div class="ui segment basic">
      <app-add-public-question></app-add-public-question>
  </div>
  <div class="ui segment basic"></div>

</div>