<div>
  <group-add-question (newQuestion)="addPublicQuestion($event)"></group-add-question>

  <div class="ui secondary menu">
    <div class="item">
      <h2 class="ui header">Questions</h2>
    </div>

    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input (keyup)='filterQuestion$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='filter question name...'>
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="ui feed">
    <question class="event ui" *ngFor="let question of questions | questionFilter: filterQuestionName" [question]="question"
      (rmQuestion)="removeQuestion($event)"></question>
  </div>
</div>