<a class="avatar">
  <img src="{{comment.author.getProfilePicture()}}">
</a>
<div class="content">
  <a class="author">
    {{comment.author.username}}
  </a>
  <div class="metadata">
    <span title="{{comment.created | date: 'longDate'}}" class="date">
        {{comment.formatDate()}}</span>
    
    <div *ngIf="comment.solution" class="ui label">
      <i class="yellow lightbulb icon"></i> Solution
    </div>
  </div>
  <div class="text">
    {{comment.message}}
  </div>
  <div *ngIf="comment.hasImage()">
    <img src="data:{{comment.contentType}};base64,{{comment.dataImage}}" (click)="showImageModal()" class="ui medium rounded image">
  </div>
  <div class="actions">
    <a class="like" (click)="addLike()">
      <i class="thumbs up icon"></i> {{comment.showAantalLikes()}}
    </a>
    <a class="like" (click)="addDislike()">
      <i class="thumbs down icon"></i> {{ comment.showAantalDislikes()}}
    </a>
    <a *ngIf="isOwnerPost() && !comment.solution" (click)="setSolution()">
      Good Solution
    </a>
    <!-- <a (click)="showModal()">Reply</a> -->
  </div>
</div>


<div class="ui small modal {{comment.id}}">
  <i class="close icon"></i>
  <div class="header">
    Add a comment
  </div>
  <div class="content">
    <form class="ui form" [formGroup]="newComment">
      <div class="field">
        <label></label>
        <textarea name="" id="" cols="30" rows="10" formControlName='message' #spy></textarea>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui cancel button">Cancel</div>
    <div (click)='onSubmitComment()' class="ui green button">Send</div>
  </div>
  
</div>

<div class="ui basic modal {{comment.id}} image">

  <div class="content">
    <img src="data:{{comment.contentType}};base64,{{comment.dataImage}}" class="ui rounded image">

  </div>
</div>